<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div id = "edit_user">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  	<%= f.input :firstname %>
	<%= f.input :lastname %>
	<%= f.input :email %>
	<%= f.input :password, :hint => "Enter your new password"%>
	<%= f.input :password_confirmation %></br>
	<%= f.input :current_password, :hint => "we need your current password to confirm your changes"%>
	<%= f.file_field :image, :label => 'Your user image' %>
	<%= f.input :bio %>
	<%= f.input :state, :collection => (us_states), :prompt => "select your state"%>
	<%= f.input :zipcode %>
	<%= f.button :submit %>
<% end %>
</div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
