<tr>
  <td class="course">
    <span class="user">
      <%= image_tag @user.image_url(:thumb).to_s %> <%= link_to feed_item.user.firstname, feed_item.user %><%= " posted "%>
    </span>
    <span class="content"><%= link_to feed_item.name, (feed_item) %></span>
    <span class="timestamp">
      <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user == feed_item.user %>
    <td>
      <%= link_to "delete", feed_item, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => feed_item.name %>
    </td>
  <% end %>
</tr>