<div id = "profile_top_left">
	<span id = "avatar"><%= image_tag @user.image_url(:profile).to_s %></span>
	<h3><%= @user.firstname + ' ' + @user.lastname %></h3>
	<h4><%= @user.city + ", " + @user.state %></h4>
		<div id = "left-stats">
		<%= render 'stats' %>
		<%= render 'follow_form' if signed_in? %>
		</div>
	<%= link_to "Settings", edit_user_registration_path, :id => "settings", :class => "button1" if signed_in? && @user == current_user %>
	<br></br>
	<p>Hours Taught: <%=@user.hours_taught %></p>
	<p>Hours Learned: <%=@user.hours_learned %></p>
</div>

<div id = "profile_right">
	<p>Taking:</p>
	<% @enrollments.each do |enrollment| %>
		<div class = "course_preview"><%= link_to enrollment.course.name, enrollment.course %></div>
	<% end %>
</div>

<div id ="profile_bottom_right">
	<br><p>Teaching:</p></br>
	<% @courses.each do |course| %>
		<div class = "course_preview">
			<div class = "course_thumb"><%= image_tag course.image_url(:thumb).to_s %>
				<p>Taught by <%= course.user.firstname %></p></div>
			<div class = "course_name"><%= link_to course.name, course %>
				<p>Located in <%= course.city + ', ' + course.state %></p>
				</div>
		</div>
	<% end %>
</div>