<div id = "form">
<%= simple_form_for @course, :html => {:multipart => true} do |f| %>
	<%= f.input :name %>
	<%= f.input :description%>
	<%= f.input :category, :collection => (categories_list)%>
	<%= f.input :credentials %>
	<%= f.input :cost %>
	<%= f.input :place %>
	<%= f.label :startdate %>
	<%= f.text_field :startdate %>
	<%= f.input :starttime, :ampm => true %>
	<%= f.label :enddate %>
	<%= f.text_field :enddate %>
	<%= f.input :endtime, :ampm => true %>
	<%= f.file_field :image, :label => 'Your course image' %>
	<%= f.input :attendance %>
	<%= f.input :state, :collection => (us_states)%>
	<%= f.input :zipcode %>
	<%= f.input :city %>
	<%= f.label :Your_Paypal_Email%>
	<%= f.email_field :paypal_email, :label => 'Your Paypal Email' %>
	<%= f.button :submit %>
	
<% end %>
</div>	
	
	