<div id = "index_left">
	
</div>

<div id = "index_right">
	<div id = "course_filter">
		<%= form_tag(courses_path, :method => :get) do |f| %>
			<% if user_signed_in? %>
			<span id = "state_filter>"><%= select_tag(:state, options_for_select(us_states, :selected => params[:state] || current_user.state)) %></span>
			<% else %>
			<span id = "state_filter>"><%= select_tag(:state, options_for_select(us_states)) %></span>
			<% end %>
			<%= submit_tag 'Filter by State' %>
		<% end %>
	</div>
	<% @courses.each do |course| %>
	<div class = "course_preview">
		<div class = "course_thumb"><%= image_tag course.image_url(:thumb).to_s %>
			<p>Taught by <%= link_to course.user.firstname, course.user %></p></div>
		<div class = "course_name"><%= link_to course.name, course %>
			<p>Located in <%= course.city + ', ' + course.state %></p>
			<p>On <%= course.startdate.strftime("%d/%m") %></p>
			</div>
	</div> 
	<% end %>
</div>

