<%= link_to "New Course", new_course_path %>
<div id = "course_filter">
	<%= form_tag(courses_path, :method => :get) do |f| %>
		<br><%= select_tag(:state, options_for_select(us_states, :selected => params[:state] || current_user.state)) %></br>
		<%= submit_tag 'Filter by State' %>
	<% end %>
</div>

<h2>Courses in your state:</h2>
<ul>
	<% @courses.each do |course| %>
	<div class = "course_preview">
		<div class = "course_thumb"><%= image_tag course.image_url(:thumb).to_s %>
			<p>Taught by <%= link_to course.user.firstname, course.user %></p></div>
		<div class = "course_name"><%= link_to course.name, course %>
			<p>Located in <%= course.city + ', ' + course.state %></p>
			<p>On <%= course.startdate.strftime("%d/%m") %></p>
			</div>
	</div> 
	<% end %>
</ul>

