<p>Purchase Information</p>

<p>Course Total: $<%= @course.cost %><p>
	
	<%= form_tag(enroll_course_path(@course), :method => "post") do %>
	  <%= label_tag(:paypal_email, "Paypal Email Address")%>
	  <%= text_field_tag(:paypal_email) %>
	  <%= submit_tag("Pay Now") %>
	<% end %>
	